{% extends 'base.html' %}


{% block content %}
     <div class="album py-5 bg-light">
    <div class="container">

{#    <form method="post" action="" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        <input type="submit" value="Save">#}
{#    </form>#}
<form method="post" action="" enctype="multipart/form-data">
     {% csrf_token %}
    {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


    </div>
     </div>

{% endblock %}