{% extends 'base.html' %}
{% block content%}
  <div class="album py-5 bg-light">
    <div class="container">
    <h3>Newest blogs: </h3>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mt-5">
    {% for obj in news %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ obj.img.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.title }}</h5>
                  <p class="card-text">{{ obj.get_short_decription }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a type="button" href="{{ obj.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">{{ obj.get_time_difference }} hours ago</small>
                  </div>
                </div>
              </div>
            </div>
    {% endfor %}
        </div>
    {% if user.is_authenticated and user.is_superuser %}
            <a class="btn btn-success mt-5" href="./create">Add new blog</a>
            {% endif %}
    </div>
  </div>
{% endblock %}